.blog-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

ul {
    list-style: none;
}

li a {
    color: var(--primary-black);
}

li a:hover {
    color: var(--secondary-blue);
    text-decoration: underline;
}