.blogs-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding-bottom: 50px;
}
.blogs-page a {
    color: var(--secondary-blue);
    text-decoration: underline
}
p {
    font-size: 15px !important;
}

li p {
    font-size: 14px;
}

br {
    border: 1px solid #111
}