.default-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--secondary-blue-dark);
    opacity: 90%;
    box-shadow: 0px 0px 20px 3px #111;
    height: 80px;
}

#home-nav:hover {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#contact-nav:hover {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
#home-nav:active {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#contact-nav:active {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
#header-logo {
    color: var(--pearl-light);
    overflow-wrap: normal;
    font-size: 20px;
}


.header-nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header-nav-list a {
    overflow: hidden;
    border-radius: 0px;
    max-width: 100%;

}

.header-nav-list a {
    color: var(--pearl-light);
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
}

.header-nav-list a:hover {
    color: var(--primary-black);
    background-color: var(--secondary-gold);

}
.header-nav-list a:active {
    color: var(--primary-black);
    background-color: var(--secondary-gold-dark);
}
.gear-nav-top.show {
    background-color: var(--secondary-gold);
}
.gear-nav-top.show a {
    color: var(--primary-black);
}
.gear-nav-bottom {
    position: absolute;
    padding: 0px;
    display: none;
    flex-direction: column;
    max-height: 0px;
    width: fit-content;
    transition: max-height 0.3s ease-in-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    /* overflow: visible;
    margin: 0px;
    padding: 0px; */
}

.gear-nav-bottom.show {
    max-height: 50px;
    display: flex;
    background-color: var(--secondary-blue);

}

.gear-nav-bottom.show a {
    color: var(--pearl-light);
}
.gear-nav-bottom.show a:hover {
    color: var(--primary-black);
}
#oars-nav {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
}
