.boats-page {
    display: flex;
    flex-direction: row;

    .no-drag {
      user-select: none;
      -webkit-user-drag: none;
    }

    .boats-header {
      color: var(--primary-black);
    }
  
    /* Carousel */
    .carousel {
      // justify-content: space-between;
      border-bottom: 1px solid var(--primary-black);
      padding-top: 20px;

      .carousel-inner {

        .carousel-item {
          img {
            height: 600px;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      
    }
    
    .boat-information-divs {
      margin: 0px !important;
    }

    /* Boat Information */
    @media (min-width: 1500px) {
      .boat-information-divs {
        width: 100%;
        height: 800px;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        text-align: center;
      }
    }
  
    @media (max-width: 1500px) {
      .boat-information-divs {
        width: 100%;
        height: 1000px;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        text-align: center;
      }
    }
  
    @media (max-width: 1000px) {
      .boat-information-divs {
        width: 100%;
        height: 1300px;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        text-align: center;
      }
    }
  
    @media (max-width: 700px) {
      .boat-information-divs {
        width: 100%;
        height: 1700px;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        text-align: center;
      }
    }
  }
  