.FAQ-page {
    justify-content: center;
    display: flex;
    flex-direction: row;
    min-height: 64.25vh;
  }
  
  .FAQ-header {
    color: var(--primary-black);
  }
  
  /* QUESTION STYLING */
  .Question p::before {
    content: "Q:";
    font-weight: bold;
    margin-right: 10px;
    color: var(--pearl-light);
  }
  
  .Question {
    color: var(--pearl-light);
  }
  
  /* ANSWER STYLING */
  .Answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: var(--pearl-light);
  }
  
  .Answer.show {
    max-height: 500px;
    border-top-color: var(--pearl-light);
    border-top-style: solid;
    border-top-width: 1px;
  }
  
  /* QA CONTAINER */
  .QA {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    background-color: var(--primary-black);
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px #111111bc;
  }
  
  /* PARAGRAPH STYLING */
  .FAQ-page p {
    font-size: 1em;
  }
  