/* COLOR VARIABLES */
:root {
  --primary-black: #17171a;
  --secondary-gold: #FED600;
  --secondary-gold-dark: #f19c1c;
  --secondary-blue: #070766;
  --secondary-blue-dark: #020024;
  --pearl-light: #f2eeee;
  --platinum: #d3cfcf;
}

/* TYPOGRAPHY */
@font-face {
  font-family: bahnschrift;
  src: url(https://fonts.cdnfonts.com/css/bahnschrift);
}

body {
    font-family: 'bahnschrift', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, Arial, sans-serif;
    margin: 0px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
  }
  
  h1 {
    font-size: 2.25em;
  }
  
  h2 {
    font-size: 1.75em;
  }
  
  h4 {
    font-size: 1.5em;
  }
  
  h4 + p {
    margin: 0px;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.5;
  }
  
  /* OTHER STYLES */
  a {
    color: cyan;
    text-decoration: none;
  }
  
  /* BODY */
  .body {
    background-color: var(--pearl-light);
    padding-top: 130px;
    display: block;
    justify-content: space-around;
    flex: 1;
    min-height: 64.25vh;
  }
  
  .left-sidebar {
    width: 20%;
  }
  
  .right-sidebar {
    width: 20%;
  }
  
  .middle-content {
    width: 60%;
  }
  
  .section {
    padding: 0px;
  }
  
  /* SECTION HEADERS */
  .uppercase {
    text-transform: uppercase;
    padding: 0px;
    margin-top: 0px;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #151519;
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #AAA;
  }
  
  @media (max-width: 768px) {
    .left-sidebar {
      width: 10%;
    }
  
    .right-sidebar {
      width: 10%;
    }
  
    #sport-of-rowing-middle-content {
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      margin-left: 0%;
      margin-right: 0%;
      width: 80%;
    }
  
    #rowing-stroke-middle-content {
      width: 80%;
      margin: 0;
    }
  
    #boat-classes-middle-content {
      width: 80%;
      margin: 0;
    }
  
    .boat-classes-column {
      box-shadow: none !important;
      justify-content: center !important;
      width: 100%;
    }
  
    .boat-classes-list-column {
      box-shadow: none !important;
      justify-content: center !important;
      width: 100%;
    }
  
    .sport-of-rowing-left-panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: -10px;
    }
  }
  
  .top-margin {
    margin-top: 20px;
  }
  