/* COLOR VARIABLES */
:root {
    --primary-black: #17171a;
    --secondary-gold: #FED600;
    --secondary-gold-dark: #f19c1c;
    --secondary-blue: #070766;
    --secondary-blue-dark: #020024;
    --pearl-light: #f2eeee;
}

/* TYPOGRAPHY */
@font-face {
    font-family: bahnschrift;
    src: url(https://fonts.cdnfonts.com/css/bahnschrift);
}
body {
    font-family: 'bahnschrift','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, Arial, sans-serif;
    margin: 0px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}
h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;

}

h4 + p {
    margin: 0px;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}

/* OTHER STYLES */
/* img {
    border-radius: 5px;
} */

a {
    color: cyan;
    text-decoration: none;
}

/* FOOTER */
.default-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    background: var(--secondary-blue-dark);
    padding: 80px;
    flex-shrink: 0;
    color: var(--pearl-light);
}

.default-footer ul {
    list-style: none;
}

/* BODY */
.body {
    background-color: var(--pearl-light);
    /* color: var(--primary-black); */
    padding-top: 114px;
    display: block;
    justify-content: space-around;
    flex: 1;
    min-height: 90vh;
}

.left-sidebar {
    width: 20%;
}

.right-sidebar {
    width: 20%;
}

.middle-content {
    width: 60%;
    /* padding-bottom: -10px; */
}

.section {
    padding: 0px;
}

/* SECTION HEADERS */
.section-headers {
    background: linear-gradient(90deg, #0d0d3f 25%, #070746 30%, #070534 60%,#21123a 87%);
    color: var(--pearl-light);
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 5px #111;
    z-index: 1;
}

.section-headers-uppercase {
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

}
.uppercase {
    text-transform: uppercase;
}


/* width */
::-webkit-scrollbar {
    width: 13px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #151519; 
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CCC; 
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #AAA; 
}


.default-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, #080839e9 10%, #08084c 30%, #020024 80%,#150d23 95%);
    opacity: 98%;
    box-shadow: 0px 0px 20px 3px #111;
    height: 114px;
    z-index: 1;
    color: var(--pearl-light);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.4s;

}

#home-nav {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#contact-nav {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}




@media (min-width: 768px) {
    .header-logo img {
        width: 200px;
        height: auto;
    }
}
@media (max-width: 768px) {
    .left-sidebar {
        width: 10%;
    }
    .right-sidebar {
        width: 10%;
    }
    .default-header {
        height: 80px;
    }
    .header-logo img {
        width: fit-content;
        padding-left: 40px;
    }
    .header-logo img {
        width: 130px;
        height: auto;
    }
    .default-header {
        font-size: 13px;
    }
    #sport-of-rowing-middle-content {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        margin-left: 25%;
        margin-right: 0%;
    }
    .sport-of-rowing-left-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: -10px;
    }
}
.nav-item {
    padding-top: 5px;
    padding-bottom: 5px; 
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-radius: 100px;
}

.header-nav-list a {
    overflow: hidden;
    border-radius: 0px;
    max-width: 100%;

}

.header-nav-list a {
    color: var(--pearl-light);
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
}

.header-nav-list a:hover {
    color: var(--primary-black);
    background-color: var(--secondary-gold);

}
.header-nav-list a:active {
    color: var(--pearl-light);
    background-color: var(--secondary-gold-dark);
}
.gear-nav-top {
    padding-top: 5px;
    padding-bottom: 5px;
}
.gear-nav-top.show {
    background-color: var(--secondary-gold);
}
.gear-nav-top.show a {
    color: var(--primary-black);
}
.gear-nav-bottom {
    max-height: 0px;
    position: absolute;
    padding: 0px;
    /* display: none; */
    visibility: hidden;
    flex-direction: column;
    width: fit-content;
    transition: max-height 0.1s ease-in;
    /* border-bottom-left-radius: 10px; */
    border-bottom-right-radius: 10px; 
}

.gear-nav-bottom.show {
    max-height: 50px;
    visibility: visible;
    display: flex;
    background-color: var(--secondary-blue);

}

.gear-nav-bottom.show a {
    color: var(--pearl-light);
}
.gear-nav-bottom.show a:hover {
    color: var(--primary-black);
}
#oar-nav {
    /* border-bottom-left-radius: 10px; */
    border-bottom-right-radius: 10px; 
}


.middle-content:before {
    box-shadow: -15px 0 15px -15px inset !important;
    left: -15px;
}
.middle-content:after {
    box-shadow: 15px 0 15px -15px inset;
    right: -15px;
}